@font-face {
    font-family: 'KodeMono';
    src: url('KodeMono-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* General Styles */
body {
    font-family:'KodeMono';
    background-color: black;
    margin: 0;
    padding: 0;
    color: white;
    overflow-x: hidden; /* Prevent horizontal scrolling */
    overscroll-behavior: none;
}

/* Banner (Navigation Bar) */
.banner {
    background-color: #501619;
    color: #fff4f1;
    padding: 1%;
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    width: 100vw;
}

.banner > div {
    display: flex;
}

.banner h1 {
    margin: 0;
    margin-left: 10px;
    font-size: clamp(20px, 1vw, 50px);
    align-self: center;
}

.banner img {
    height: 5%; /* Adjust the height as needed */
    width: 5%;
}

.banner nav {
    padding-right: 2%;
    display: flex;
    gap: 10px;
}

.banner nav a {
    border: none;
    padding: 1px 5px;
    cursor: pointer;
    font-size: 1em;
}

.banner nav a:hover {
    color: #ff4d4d; /* Glowing red text */
    text-shadow: 0 0 10px #820303, 0 0 20px #ff1a1a;
}

/* Main Container for Sections */
.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    margin-top: 5%;
}

/* Each Section is a Separate Flexbox */
.section-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    margin: 0;
    padding: 20px; /* Give some space */
    width: 100%;
    border-radius: 5px;
}

/*

ABOUT SECTION PUT STUFF HERE  


*/


/* 

SCHEDULE SECTION PUT STUFF HERE 

*/



/* 

FAQ SECTION GO HERE 

*/

/* 

SPONSORS SECTION GO HERE

*/


/* 

RESOURCES SECTION GO HERE

*/


/* 

MEET THE TEAM SECTION GO HERE 

*/

/* Footer */
footer {
    background-color: #062337;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: auto;
    padding: 15px;
    /* position: absolute;*/
    /* bottom: 0; */
}

footer > h1 {
    color: white;
    font-size: 1rem;
    align-self: center;
}
